{% extends "_base.html" %}
{% block body %}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col">
      <h3 class="mdl-typography--display-2 mdl-typography--display-2-color-contrast">
        All About Brofox
      </h3>
      <p>
        This page is dedicated to give an overview of how Brofox started, where we've been, and where we are going.
      </p>

      <h4>History<h4>
      <p>
        how we can to be...
      </p>

      <h4>Games<h4>
      <p>
      Talk about games we've gone in depth in and pickup type games.
      </p>

      <h4>The Future<h4>
      <p>
        Our plans for the future are simple and can be reduced to a few things:
        <ul>
          <li>Grow Brofox.</li>
          <li>Provide positive contributions to the gaming community as a whole.</li>
          <li>More?</li>
        </ul>
      </p>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
  </div>
{% endblock %}