{% extends "_base.html" %}
{% block title %}Chat{% endblock %}
{% block body %}
  <h3 class="mdl-typography--display-2 mdl-typography--display-2-color-contrast">
    Join Our Discord
  </h3>

  <p>
    We use Discord to voice and text chat while playing games or just hanging out. Feel free to stop by and say hi!
  </p>

  <iframe src="https://discordapp.com/widget?id=105434108867428352&theme=dark" width="350" height="500"
          allowtransparency="true" frameborder="0"></iframe>
{% endblock %}