{% extends "_base.html" %}
{% block title %}Contact{% endblock %}
{% block body %}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col">
      <h3 class="mdl-typography--display-2 mdl-typography--display-2-color-contrast">
        Contact Us
      </h3>

      <p>
        If you need to contact the admins of Brofox for any reason there are a few methods:

        <ol>
          <li>Email <a href="mailto:contact@brofox.com">contact@brofox.com</a></li>
          <li>Ping @smont or @Markisking in our <a href="chat.html">Discord</a></li>
          <!-- Social media if we ever decide to do that in the future -->
        </ol>
      </p>
      <p>
        Feel free to contact us about anything, even if it's just to say hi! &#9786;
      </p>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
  </div>
{% endblock %}