{% extends "_base.html" %}
{% block body %}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col">
      <h3 class="mdl-typography--display-2 mdl-typography--display-2-color-contrast">
        Welcome to Brofox
      </h3>

      <p>
        Brofox is an open gaming community. We are a group of players who simply want to share the experience of gaming with others. We invite anyone to participate with us and are currently focused on growing the community, making friends, and continuing to have fun.
      </p>
      <p>
        If you want to know more about us, check out the <a href="about.html">About Page</a>.<br />
        If you are interested in joining, you can head <a href="join.html">here</a> to find out how. (Hint: It's easy!)
      </p>
      <p>
        Thanks for stopping by!
      </p>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
  </div>
{% endblock %}