{% extends "base.html" %}
{% block body %}
  <h3 class="mdl-typography--display-2 mdl-typography--display-2-color-contrast">
    Get Some Brofox Merch
  </h3>

  <p>
    We have three T-Shirt designs available and occasionally do campaigns for new designs or other products. The shirts
    listed below are available through Amazon any time.
  </p>

  <blockquote class="embedly-card" data-card-key="de0b8d2932a24f7c86fb371d227be9fb"><h4><a
    href="http://www.amazon.com/gp/product/B01660BYCK">The OFFICIAL Brofox T-Shirt</a></h4>
    <p></p></blockquote>
  <blockquote class="embedly-card" data-card-key="de0b8d2932a24f7c86fb371d227be9fb"><h4><a
    href="http://www.amazon.com/gp/product/B0197HWP2W">The OFFICIAL Brofox T-Shirt [Stacked]</a></h4>
    <p></p></blockquote>
  <blockquote class="embedly-card" data-card-key="de0b8d2932a24f7c86fb371d227be9fb"><h4><a
    href="http://www.amazon.com/gp/product/B0197MVLEK">The OFFICIAL Brofox T-Shirt [Overlay]</a></h4>
    <p></p></blockquote>
{% endblock %}